@import "../bower_components/normalize.css/normalize.css";
@import "../bower_components/angular-material/modules/closure/progressCircular/progressCircular.css";
@import "../bower_components/angular-smilies/dist/angular-smilies-embed.min.css";
@import "../bower_components/fontawesome/css/font-awesome.min.css";
@import "../bower_components/angular-chart.js/dist/angular-chart.css";
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #282828;
  position: relative;
  color: #EEEEEE;
  background-image: url('/assets/crowd_1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-title {
  width: 300px;
  height: 230px;
  position: relative;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}
.top-title .logo-container {
  display: inline-block;
  height: 150px;
  width: 300px;
  background-image: url('/assets/peachy.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 400px) {
  .top-title .logo-container {
    margin-top: 60px;
  }
}
.top-title .logo-subtitle {
  color: #DCDCDC;
  text-align: center;
}
.top-title .logo-subtitle p {
  margin: 2px;
  font-size: 0.9em;
}
.button-set {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.button-set:after {
  content: ' ';
  height: 1px;
  width: 80%;
  background-color: #767676;
  position: absolute;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 400px) {
  .button-set:first-child {
    margin-top: 60px;
  }
}
.button-set:last-child:after {
  display: none;
}
.button-set .button-set-title {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}
.button-set .button-set-subtitle {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}
.button-set .button-container {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
}
@media (max-width: 400px) {
  .button-set .button-container {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}
.button-set .button-container .button {
  flex: 1;
  -webkit-flex: 1;
  margin: 20px 40px;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  background-color: #FF9F51;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border: 2px solid white;
  font-size: 1.6em;
  cursor: pointer;
}
.venueselector {
  position: absolute;
  left: 10px;
  top: 10px;
  line-height: 30px;
  height: 50px;
  width: 200px;
  font-size: 0.9em;
  font-style: italic;
  z-index: 10000;
}
.venueselector i {
  margin-right: 5px;
}
.confirmBox {
  z-index: 100000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.confirmBox .confirmCenter {
  border: 4px solid #FF9F51;
  position: absolute;
  width: 280px;
  height: 200px;
  background-color: white;
  left: 50%;
  top: 50%;
  margin-left: -140px;
  margin-top: -100px;
  color: #2B2B2B;
}
.confirmBox .confirmCenter .confirmTitle {
  font-weight: bold;
  color: #FF9F51;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  margin-top: 10px;
}
.confirmBox .confirmCenter .confirmMsg {
  margin: 10px;
  text-align: center;
  font-size: 1em;
  height: 45px;
}
.confirmBox .confirmCenter .confirmbuttons {
  display: flex;
  -webkit-display: flex;
}
.confirmBox .confirmCenter .confirmbuttons .button {
  width: 50%;
  margin: 15px;
  background-color: red;
  text-align: center;
  line-height: 55px;
  height: 55px;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  color: #fff;
  font-size: 1.2em;
}
.confirmBox .confirmCenter .confirmbuttons .button.confirm {
  background-color: #66D55E;
}
.confirmBox .confirmCenter .confirmbuttons .button.cancel {
  background-color: #D55E5E;
}
.venuechooser {
  z-index: 100000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.venuechooser .chooser {
  border: 4px solid #FF9F51;
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #fff;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -200px;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
}
.venuechooser .chooser .title {
  font-weight: bold;
  color: #FF9F51;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  margin-top: 10px;
}
.venuechooser .chooser .scroller {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50px;
  bottom: 5px;
  overflow: auto;
}
.venuechooser .chooser .scroller .venueoption {
  position: relative;
  margin: 10px 5px;
  background-color: #DADADA;
  height: 60px;
  color: #363636;
}
.venuechooser .chooser .scroller .venueoption .icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 1.6em;
  color: #A4A4A4;
}
.venuechooser .chooser .scroller .venueoption .v-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 50px;
  height: 30px;
  line-height: 40px;
}
.venuechooser .chooser .scroller .venueoption .v-subtitle {
  font-size: 0.9em;
  margin-left: 50px;
  height: 30px;
  line-height: 20px;
  font-style: italic;
}
