doctype html
html
	head
		title CHS
		link(href="styles/app.css" type="text/css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(charset="utf-8")
	body(id="mainBody")
		div(ng-app="App" class="pd-AppSuperParent")
			div(ui-view="main-view" class="main-view-port")

		script(src="./scripts/bundle.js")